/**
 * Name: elements.css
 * Version: 1.0.0
 *
 *	-
 *
 *	T.O.C
 *
 *  #Alerts
 *	#Buttons
 *	#Callout Boxes
 *	#Custom Lists
 *	#Dividers
 *	#Google Maps
 *	#Icon Boxes
 *	#Milestones
 *	#Our Process
 *	#Parallax
 *	#Pie charts
 *	#Pricing Tables
 *	#ProgressBars
 *	#SocialMedia
 *	#Styled Tables
 *	#Tabs
 *	#Testimonials
 */

/* ==========================================================================
   #Alerts
   ========================================================================== */

.alert {
    padding: 10px 15px;
    border: 1px solid #16a7b4;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    font-size: 15px;
}

.alert i {
    position: relative;
    top: 5px;
    margin-right: 10px;
    font-size: 30px;
}

.alert img {
    position: relative;
    top: 7px;
    margin-right: 10px;
}

.alert.info {
    padding: 0 15px 10px 15px;
    border: none;
    background-color: #71d9e2;
    color: #fff;
}

.alert.success {
    padding: 0 15px 10px 15px;
    border: none;
    background-color: #59c8d2;
    color: #fff;
}

.alert.error {
    padding: 0 15px 10px 15px;
    border: none;
    background-color: #39b8c3;
    color: #fff;
}

.alert.warning {
    padding: 0 15px 10px 15px;
    border: none;
    background-color: #16a7b4;
    color: #fff;
}

/* ==========================================================================
   #Buttons
   ========================================================================== */

.btn {
    display: inline-block;
    padding: 7px 12px;
    margin: 0 20px 20px 0;
    background-color: #fff;
    color: #444;
    line-height: 18px;
    text-decoration: none !important;
    cursor: pointer;
}

a.btn { color: #5f605f; }

.btn:focus { outline: 0; }

.btn-large {
    padding: 10px 20px;
    font-size: 15px;
}

.btn-larger {
    padding: 5px 40px;
    font-size: 15px;
}

.btn i,
.btn-large i {
    float: left;
    margin: 2px 8px 0 -4px;
    font-size: 15px;
    line-height: 15px;
}

.btn img {
    margin-left: 5px;
    vertical-align: middle;
}

.btn:hover { background: #f9f9f9; }

/* Buton Colors */

.btn-white {
    border: 1px solid #dddddd;
    background-color: #f7f7f7;
    color: #444;
}

a.btn-white { color: #444; }
.btn-white:hover { background: #fbfbfb; }

.btn-black {
    border: 1px solid #464646;
    background-color: #464646;
    color: #fff;
}

a.btn-black { color: #fff; }
.btn-black:hover { background: #535353; }

.btn-blue {
    background-color: #71d9e2;
    color: #fff;
}

a.btn-blue {
    color: #fff;
    font-size: 15px;
}

a.btn-small {
    padding: 2px 15px;
    font-size: 13px;
}

.btn-blue:hover { background: #decc00; }

.btn-red {
    border: 1px solid #b23730;
    background-color: #c74039;
    color: #fff;
}

a.btn-red { color: #fff; }
.btn-red:hover { background: #ce4640; }

.btn-green {
    border: 1px solid #819633;
    background-color: #8da046;
    color: #fff;
}

a.btn-green{ color: #fff; }
.btn-green:hover { background: #93a749; }

/* ==========================================================================
   #Callout Boxes
   ========================================================================== */

.callout-box {
    padding: 35px 0;
    margin-bottom: 30px;
    background-color: #2b2b2b;
}

.callout-box.alt {
    padding: 45px 0;
    background-color: #efefef;
}

.callout-box h2 {
    margin-bottom: 10px;
    line-height: 22px;
    color: #8c8c8c;
    font-size: 20px;
    text-transform: uppercase;
}

.callout-box p {
    margin-bottom: 0;
    color: #8c8c8c;
}

.callout-box-2 {
    margin-bottom: 30px;
    background-color: #e7e7e7;
}

.callout-box-2 h3{
    margin-top: 30px;
    margin-bottom: 0;
    color: #656565;
}

.callout-box-2 p { margin-bottom: 30px; }

.callout-box-2 .buttons {
    position: relative;
    padding: 18px 0;
    background-color: #d5d5d5;
    text-align: center;
    cursor: pointer;
}

.callout-box-2 .buttons a {
    color: #fff;
    text-decoration: none;
}

.callout-box-2 .buttons .arrow {
    position: absolute;
    top: 50%;
    left: -10px;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #d5d5d5;
    border-bottom: 5px solid transparent;
    -moz-transform: scale(0.9999);
}

.callout-box-2 .buttons:hover { background-color: #decc00; }
.callout-box-2 .buttons:hover .arrow { border-right-color:  #decc00; }

.callout-box-3 {
    margin: 30px 0;
    background-color: #71d9e2;
}

.callout-box-3 h2 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
}

.callout-box-3 h5 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}

.callout-box-3 p,
.callout-box-3 h3 {
    margin-bottom: 20px;
    color: #fff;
}

.callout-box-3 h4 {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 16px;

}

.callout-box-3 .buttons {
    position: relative;
    padding: 35px 0;
    margin-right: -10px;
    background-color: #64c6cf;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.callout-box-3 .buttons a {
    color: #fff;
    text-decoration: none;
}

.callout-box-3 .buttons .arrow {
    position: absolute;
    top: 50%;
    left: -10px;
    height: 0;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #64C6CF;
    -moz-transform: scale(0.9999);
    -webkit-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.callout-box-3 .buttons.alt {
    margin-right: 0;
    margin-left: -10px;
    background-color: #5bb9c2;
}

.callout-box-3 .buttons.alt .arrow { border-right-color: #5bb9c2; }

.callout-box-3 .buttons:hover { background-color: #decc00; }
.callout-box-3 .buttons:hover .arrow { border-right-color: #decc00; }

.callout-box-3 .headline h6,
.callout-box-3 .headline h3 { color: #fff; }

.callout-box-4 {
    padding: 25px 0 25px 20px;
    border-left: 7px solid #71d9e2;
    box-shadow: 10px 8px 10px 0 #555555;
    background: linear-gradient(105deg, #b1c3c8, #dbe2da);
    color: #fff;
}

.callout-box-4 h3 {
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
}

.callout-box-4 p { margin-bottom: 0; }

.callout-box-4 .buttons {
    padding: 32px 0;
    margin: -25px 0;
    background-color: #64c6cf;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.callout-box-4 .buttons:hover { background-color: #decc00; }

.callout-box-4 .buttons a {
    color: #fff;
    text-decoration: none;
}

/**
  * Callout box with one background image
  *
 * 1. background-image must be supplied using inline css as it is different for every .callout-box
 *
 */

.callout-box.bg-img {
    background-repeat: no-repeat; /* 1 */
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #e6e6e6;
}

/**
  * Callout box with repeating background image
  *
 * 1. background-image must be supplied using inline css as it is different for every .callout-box
 *
 */

.callout-box.bg-pattern {
    background: repeat top left; /* 1 */
    color: #fff;
}

.callout-box.bordered {
    border: 1px solid #efefef;
    background-color: #f5f5f5;
}

/**
  * Callout box grid system
  *
 * 1. overwriting inherited .row width to 100% in order to make it fluid
 *
 */

.callout-box .row {
    /*width: auto;*/ /* 1 */
}

.callout-box .span1,
.callout-box .span2,
.callout-box-4 .span2,
.callout-box .span3,
.callout-box .span4,
.callout-box .span5,
.callout-box .span6,
.callout-box .span7,
.callout-box .span8,
.callout-box .span9,
.callout-box .span10,
.callout-box-4 .span10,
.callout-box .span11,
.callout-box .span12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.callout-box .span12 { width: 100%; }
.callout-box .span11 { width: 91.6666666667%; }
.callout-box .span10,
.callout-box-4  .span10 { width: 83.3333333333%; }
.callout-box  .span9 { width: 75%; }
.callout-box  .span8 { width: 66.6666666667%; }
.callout-box  .span7 { width: 58.3333333333%; }
.callout-box  .span6 { width: 50%; }
.callout-box  .span5 { width: 41.6666666667%; }
.callout-box  .span4 { width: 33.3333333333%; }
.callout-box  .span3 { width: 25%; }
.callout-box  .span2,
.callout-box-4  .span2 { width: 16.66666666666667%; }
.callout-box  .span1 { width: 8.333333333333333%; }

@media (min-width: 768px) and (max-width: 979px) {

    .callout-box-2 .buttons { padding: 29px 0; }
    .callout-box-3 .buttons { padding: 44px 0; }
}

@media (max-width: 767px) {

    .callout-box .span1,
    .callout-box .span2,
    .callout-box-4 .span2,
    .callout-box .span3,
    .callout-box .span4,
    .callout-box .span5,
    .callout-box .span6,
    .callout-box .span7,
    .callout-box .span8,
    .callout-box .span9,
    .callout-box .span10,
    .callout-box .span11,
    .callout-box .span12 { width: 100%; }

    .callout-box-2,
    .callout-box-3 { padding: 10px 0 40px 0; }

    .callout-box-2 .buttons { padding: 15px 0; }

    .callout-box-3 .buttons {
        padding: 15px 0;
        margin-right: 0;
    }

    .callout-box-3 .buttons.alt { margin-left: 0; }

    .callout-box-2 .buttons .arrow,
    .callout-box-3 .buttons .arrow { display: none; }

    .callout-box-4 .buttons { margin: 20px 20px 0 0; }

}

/* ==========================================================================
   #Custom Lists
   ========================================================================== */

/**
  * Custom lists
  *
 * 1. unstyled list
 * 2. list with squares for bullets
 * 3. list with discs for bullets
 *
 */

ul.unstyled { list-style-type: none; } /* 1 */
ul.square { list-style-type: square; } /* 2 */
ul.circle { list-style-type: circle; } /* 3 */

ul.check,
ul.plus,
ul.pin,
ul.dot { list-style: none; }

ul.check li:before,
ul.plus li:before,
ul.pin li:before,
ul.dot li:before {
    position: relative;
    top: -1px;
    width: auto;
    height: auto;
    margin-right: 8px;
    color: #333;
    font-family: 'FontAwesome';
    font-size: 10px;
    font-style: normal;
}

ul.check li:before { content: "ï"; }
ul.plus li:before { content: "ï§"; }
ul.pin li:before { content: "ï†’"; }

ul.dot li:before {
    content: "ï„‘";
    color: #4a4a4a;
    font-size: 7px;
}

ul.dot.alt li:before { color: #fff; }

ul.check-2,
ul.check-3,
ul.plus-2 {
    margin-bottom: 0;
    list-style:none;
}

ul.check-2 li {
    padding-left: 30px;
    margin-top: 10px;
    background: url(../images/icons/icon-check-3.png) no-repeat top left;
}

ul.check-3 li {
    padding-left: 25px;
    margin-top: 10px;
    background: url(../images/icons/icon-check-4.png) no-repeat top left;
}

ul.plus-2 li {
    padding-left: 25px;
    margin-top: 10px;
    background: url(../images/icons/icon-plus-5.png) no-repeat top left;
}

ul.check-2 li:first-child,
ul.check-3 li:first-child,
ul.plus-2 li:first-child { margin-top: 0; }

ul.check-2 li a { color: #666; }

/* ==========================================================================
   #Dividers
   ========================================================================== */

.divider { margin: 30px 0; }

.divider.single-line { border-top: 1px solid #e2e2e2; }

.divider.double-line { border-top: 4px double #e2e2e2; }

.divider.single-dotted {
    height: 1px;
    background: url(../images/bg-single-dotted.png) repeat-x top left ;
}

.divider.double-dotted {
    height: 4px;
    background: url(../images/bg-double-dotted.gif) repeat-x top left;
}

/* ==========================================================================
   #Google Maps
   ========================================================================== */

.map {
    width: 760px;
    height: 330px;
    margin: 0;
}

/* ==========================================================================
   #Icon Boxes
   ========================================================================== */

/* Icon Box 1
   ========================================================================== */

.icon-box-1 {
    position: relative;
    margin-bottom: 30px;
}

.icon-box-1 > i {
    float: left;
    display: block;
    font-size: 32px;
    line-height: 32px;
}

.icon-box-1 > img {
    float: left;
    display: block;
    padding: 15px;
    margin-top: 10px;
}

.icon-box-1 .icon-box-content { margin-left: 85px; }
.icon-box-1 .icon-box-content a { color: #515151; }
.icon-box-1 .icon-box-content h5 { padding-top: 5px; }

/* Icon Box 3
   ========================================================================== */

.icon-box-3 {
    position: relative;
    margin: 30px 0;
}

.icon-box-3 > i {
    float: left;
    margin-right: 10px;
    font-size: 32px;
}

.icon-box-3 h3 {
    padding-top: 28px;
    margin-bottom: 0;
}

.icon-box-3 h3 a { color: #969696; }

.icon-box-3 > a { color: #666; }

.icon-box-3 > img {
    float: left;
    padding: 30px;
    margin: 0 10px 40px 0;
    background-color: #71d9e2;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.icon-box-3.alt > img {
    float: left;
    padding: 10px;
    margin: 10px 20px 0 0;
}

.icon-box-3.alt h3 {
    padding-top: 0;
    margin-bottom: 0;
}

.icon-box-3 .icon-box-content { }

.icon-box-3:hover > img { background-color: #decc00; }

/* Icon Box 4
   ========================================================================== */

.icon-box-4 {
    position: relative;
    padding: 25px 15px 25px 25px;
    margin: 70px 0 30px 0;
    background-color: #71d9e2;
    text-align: center;
}

.icon-box-4.alt {
    min-height: 185px;
    padding: 0 10px 0 10px;
    background-color: #71d9e2;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/**
 * 1. Android Browser 2.3 does not support % value for border-radius
 * 2. Stop bg color from leaking outside the border
 */

.icon-box-4 > i {
    position: absolute;
    z-index: 20;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #969696;
    border-radius: 30px; /* 1 */
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background-color: #e1e1e1;
    background-clip: padding-box; /* 2 */
    color: #444444;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.icon-box-4 > img {
    position: absolute;
    z-index: 20;
    left: 50%;
    padding: 17px;
    border: 1px solid #fff;
    margin-top: -55px;
    margin-left: -30px;
    background-color: #6c6b67;
    background-clip: padding-box; /* 2 */
    text-align: center;
}

.icon-box-4.alt > img {
    position: relative;
    left: 0;
    float: left;
    padding: 30px;
    border: none;
    margin: -40px 5px 0 -10px;
    background-color: #39b8c3;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.icon-box-4 h2 { margin-top: 30px; }
.icon-box-4 a { color: #fff; }

.icon-box-4 p {
    color: #fff;
    text-align: left;
}

.icon-box-4.alt h3 {
    text-align: left;
    margin-bottom: 0;
}

.icon-box-4.alt .arrow {
    position: absolute;
    top: 49px;
    left: 35px;
    width: 0;
    border-top: 10px solid #39b7c3;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    -moz-transform: scale(.9999);
    -webkit-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.icon-box-4.alt:hover { background-color: #e6e6e6; }
.icon-box-4.alt:hover a { color: #555; }
.icon-box-4.alt:hover p { color: #6f6f6f; }
.icon-box-4.alt:hover img { background-color: #decc00; }
.icon-box-4.alt:hover .arrow { border-top-color: #decc00; }

.icon-box-4 .icon-box-content {
    position: relative;
    z-index: 10;
    padding: 55px 40px 40px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 50%;
    border-radius: 3px;
    margin-top: 16px;
    background-color: #f4f4f4;
    text-align: center;
}

/* ==========================================================================
   #Milestones
   ========================================================================== */

.milestone {
    position: relative;
    margin-bottom: 30px;
}

.milestone i {
    float: left;
    z-index: 20;
    margin-right: 10px;
    font-size: 32px;
}

.milestone img {
    float: left;
    margin: 0 10px 10px 0;
}

.milestone .milestone-content {
    float: left;
    z-index: 10;
    font-size: 26px;
    line-height: 32px;
}

.milestone .milestone-description {
    margin-left: -40px;
    font-size: 14px;
}

/* ==========================================================================
   #Our Process
   ========================================================================== */

.process-builder { margin-bottom: 30px; }

.process-builder ul:before {
    position: absolute;
    top: 175px;
    left: 85px;
    display: block;
    width: 75%;
    height: 0;
    border-top: 1px solid #fff;
    content: "";
}
.process-builder ul { list-style: none; }

.process-builder ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.process-builder ul li i {
    font-size: 70px;
    line-height: 140px;
    transition: color 0.5s;
}

.process-builder ul li span {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 70px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    background-clip: padding-box;
    -o-webkit-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.process-builder ul li span.border-img {
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
}

.process-builder ul li span.border-img img {
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.process-builder ul li .process-description h3 {
    color: #fff;
    text-transform: uppercase;
}

.process-builder ul li span img { display: block; }

.process-builder ul li:hover i { color: #fff; }

.process-builder.three-items ul li { width: 33.3333333333%; }
.process-builder.four-items ul li { width: 25%; }
.process-builder.five-items ul li { width: 20%; }

@media (min-width: 768px) and (max-width: 979px) {

    .process-builder ul:before {
        top: 175px;
        left: 70px;
    }

    .process-builder ul li i {
        font-size: 60px;
        line-height: 100px;
    }

    .process-builder ul li span { }

}
@media (max-width: 767px) {

    .process-builder ul li {
        float: none;
        width: auto;
    }
    .process-builder ul:before {
        border-top: none;
    }

    .process-builder.three-items ul li,
    .process-builder.four-items ul li,
    .process-builder.five-items ul li { width: auto; }

}

/* ==========================================================================
   #Parallax
   ========================================================================== */

.parallax {
    overflow: hidden;
    margin: 30px 0;
    background-color: #333;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.parallax.parallax-enabled { background-attachment: fixed !important; }

/* ==========================================================================
   #Pie charts
   ========================================================================== */

.pie-chart {
    position: relative;
    margin: 0 auto 30px auto;
    text-align: center;
}

.pie-chart canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.pie-chart i,
.pie-chart .pie-chart-custom-text,
.pie-chart .pie-chart-percent {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    color: #a4a4a4;
    text-align: center;
}

.pie-chart img {
    max-width:100%;
    vertical-align: middle;
}

.pie-chart .pie-chart-custom-text {
    font-size: 18px;
}

.pie-chart .pie-chart-percent {
    color: #444;
    font-size: 50px;
}

.pie-chart .pie-chart-percent sup { font-size: 24px; }

.pie-chart-description {
    display: block;
    margin-bottom: 30px;
}

.pie-chart-description h2 {
    text-align: center;
    text-transform: uppercase;
}

/* ==========================================================================
   #Pricing Tables
   ========================================================================== */

.price-table {
    margin-bottom: 30px;
    list-style: none;
}

.price-table > li {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.price-table.five-items > li { width: 20%; }
.price-table.four-items > li { width: 25%; }
.price-table.three-items > li {
    width: 300px;
    margin-left: 20px;
}

.price-table.three-items > li:first-child { margin-left: 0; }

/*	.price-table > li+li { border-left: none; }*/

.price-table > li:hover {
    border-left: 1px solid #ccc;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.price-table > li:hover .price-heading h3 {	background-color: #decc00; }

.price-heading { background-color: #71d9e2; }

.price-heading h3 {
    padding: 5px 0;
    background-color: #39b8c3;
    color: #fff;
    text-align: center;
}

.price-heading h1 {
    padding: 10px 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.price-heading h1 sup {
    font-weight: bold;
    font-size: 25px;
}

.price-heading h1 span {
    font-size: 20px;
    vertical-align:middle;
}

.pricing-features {
    margin: 0 30px;
    list-style: none;
}

.pricing-features li {
    float: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

.pricing-features li:first-child,
.pricing-features li:last-child { border-top: none; }

.pricing-features li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #71d9e2;
    color: #fff;
    text-decoration: none;
}

.pricing-features li a:hover { background-color: #decc00; }

@media (min-width: 768px) and (max-width: 979px) {

    .price-table.three-items > li {
        width: 225px;
        margin-left: 15px;
    }
}

@media (max-width: 767px) {

    .price-table > li {
        float: none;
        width: auto;
        margin: 20px 0;
    }

    .price-table.five-items > li,
    .price-table.four-items > li,
    .price-table.three-items > li {
        width: auto;
        margin-left: 0;
    }

    .price-table > li+li {
        border-left: 1px solid #ccc;
    }

    .price-table > li:hover {
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

}

/* ==========================================================================
   #ProgressBars
   ========================================================================== */

.progress-bar-description {
    display: block;
    margin-bottom: 10px;
    line-height: 14px;
}

.progress-bar {
    position: relative;
    display: block;
    height: 14px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.12);
}

.progress-bar .progress-bar-outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.progress-bar .progress-bar-outer .progress-bar-inner {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* ==========================================================================
   #SocialMedia
   ========================================================================== */

a.social-icon {
    display:inline-block;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 1px;
    background-color: transparent;
    color: #414141;
    text-align: center;
}

a.social-icon:last-child { margin-right: 0; }

a.social-icon i {
    font-size: 20px;
    line-height: 30px;
}

a.social-icon:hover { text-decoration: none; }

a.facebook-icon:hover { color: #0e59a0 !important; }
a.twitter-icon:hover { color: #0ea4ff !important; }
a.vimeo-icon:hover { color: #63879c !important; }
a.flickr-icon:hover { color: #0061db !important; }
a.github-icon:hover { color: #3b3b3b !important; }
a.google-plus-icon:hover { color: #ffffff !important; }
a.pinterest-icon:hover { color: #d73532 !important; }
a.tumblr-icon:hover { color: #586980 !important; }
a.linkedin-icon:hover { color: #018faf !important; }
a.dribbble-icon:hover { color: #ea73a0 !important; }
a.stumbleupon-icon:hover { color: #ea4b24 !important; }
a.lastfm-icon:hover { color: #b80638 !important; }
a.instagram-icon:hover { color: #82685a !important; }
a.evernote-icon:hover { color: #3bab27 !important; }
a.skype-icon:hover { color: #00b0f6 !important; }
a.paypal-icon:hover { color: #0d3967 !important; }
a.soundcloud-icon:hover { color: #e9702b !important; }
a.behance-icon:hover { color: #0066ff !important; }
a.rss-icon:hover { color: #f79638 !important; }
a.youtube-icon:hover { color: #e22b27 !important; }

/* ==========================================================================
   #Styled Tables
   ========================================================================== */

.table-bordered {
    border-collapse: separate;
    border-left: 0;
}

.table-bordered th,
.table-bordered td {
    text-align: center;
}

.table-bordered th {
    padding: 15px 0;
    border-top: none;
    color: #fff;
    font-size: 16px;
}

.table-bordered td {
    padding: 20px 0;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    color: #b9b9b9;
}

.table-bordered td:first-child { border-left: 1px solid #b9b9b9; }

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td { border-top: none; }

.table-condensed th,
.table-condensed td { padding: 4px 8px; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th { background-color: #f9f9f9; }

@media (max-width: 480px) {

    /**
     * Force table to not be like tables anymore
     */

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /**
     * Hide table headers
     */

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-bordered td { border-left: 1px solid #b9b9b9; }

    tr { border-top: 1px solid #555; }

    td:first-child { border-top:none !important; }

}

/* ==========================================================================
   #Tabs
   ========================================================================== */

.tabs-menu {
    width: 100%;
    margin: 0 35px 30px 0;
    background-color: #fff;
    list-style: none;
}

#tab-2.tabs-menu {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs-menu li {
    float: left;
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    text-align: center;
    font-size: 15px;
}

#tab-2.tabs-menu li { width: 147px; }

.tabs-menu li a {
    display: block;
    padding: 40px 0;
    color: #fff;
    text-decoration: none;
    background-color: #71d9e2;
}

#tab-2.tabs-menu li a {
    padding: 15px 0;
    margin-left: 3px;
    background-color: #fff;
    color: #71d9e2;
}

.tabs-menu li a:hover {
    text-decoration: none;
}

.tabs-menu li.active a,
.tabs-menu li:hover a { background-color: #878787; }

#tab-2.tabs-menu li.active a {
    background-color: #71d9e2;
    color: #fff;
}

.tabs-content { margin: 30px 0; }

.tabs-content-2 {
    padding: 20px 35px;
    color: #fff;
}

.tabs-content-2 h4 {
    margin-bottom: 15px;
    color: #fff;
    line-height: 20px;
}

#tab-3.tabs-menu {
    float: right;
    width: auto;
    margin: -10px 0 10px 0;
}

#tab-3.tabs-menu li {
    width: auto;
    padding: 0;
    margin-left: 15px;
}

#tab-3.tabs-menu li:first-child { margin-left: 0; }
#tab-3.tabs-menu li a { padding: 18px; }
#tab-3.tabs-menu li a img { display: block; }

@media (min-width: 768px) and (max-width: 979px) {

    #tab-2.tabs-menu li {
        width: 222px;
        margin-right: 3px;
    }

    #tab-3.tabs-menu { margin-top: 20px; }
    #tab-3.tabs-menu li { margin-left: 10px; }
    #tab-3.tabs-menu li a { padding: 12px; }

}

@media (max-width: 767px) {

    .tabs-menu { border-bottom: none; }

    .tabs-menu li { }

    #tab-2.tabs-menu { padding-top: 3px; }

    .tabs-menu li a:hover { text-decoration: none; }

    .tabs-menu li.active a {
        background-color: #878787;
        color: #fff;
    }

    #tab-3.tabs-menu {
        float: right;
        width: 100%;
        margin-top: 0;
    }

    #tab-3.tabs-menu li {
        display: inline-block;
        float: none;
        margin-left: 0;
    }

    #tab-3.tabs-menu li a {
        float: none;
        display: block;
        width: auto;
        margin: 0;
        background: none;
    }

    #tab-3.tabs-menu li.active a { background-color: #878787; }

}

/* ==========================================================================
   #Testimonials
   ========================================================================== */

.testimonial { margin-bottom: 30px; }

.testimonial blockquote {
    position: relative;
    padding: 25px 20px;
    margin-bottom: 20px;
    background-color: #e3e3e3;
    color: #666;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.testimonial blockquote p {
    padding: 40px 15px 10px 15px;
    margin-bottom: 0;
    background: url(../images/icons/32x32/white/quote.png) no-repeat top left;
    font-style: normal;
}

.testimonial .border-img {
    float: left;
    display: inline-block;
    border: 3px solid #e3e3e3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.testimonial .border-img img {
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.testimonial h5 { margin-top: 40px; }

.testimonial a { color: #555; }

.testimonial h5 span { color: #999; }

.testimonial > p { text-transform: uppercase; }

.testimonial:hover blockquote {
    background-color: #71d9e2;
    color: #fff;
}
.testimonial:hover .border-img { border-color: #71d9e2; }

.testimonial-2 { margin-bottom: 10px; }

.testimonial-2 img {
    float: left;
    margin-right: 25px;
}

.testimonial-2 blockquote p {
    margin-bottom: 0;
    font-style: normal;
}

.testimonial-2 blockquote p span:before { content: normal; }

.testimonial-2 blockquote p span {
    display: inline-block;
    color: #71d9e2;
}

.testimonial-2 blockquote a { color: #71d9e2; }

.testimonial-3 { margin-top: 10px; }

.testimonial-3 blockquote {
    padding: 20px 10px 10px 20px;
    background: url(../images/bg-blockquote-2.png) no-repeat top left;
}

.testimonial-3 blockquote h4 {
    margin-bottom: 0;
    color: #2b2b2b;
    font-style: italic;
}

.testimonial-3.alt {
    margin-left: 35px;
}

.testimonial-3.alt blockquote {
    padding: 0 0 0 15px;
    border-left: 5px solid #71d9e2;
    background: none;
}

.testimonial-3.alt blockquote p { font-style: normal; }

.testimonial-3.alt-2 {
    padding: 10px;
    margin: 0 0 40px;
    background-color: #decc00;
}

.testimonial-3.alt-2 blockquote {
    background: url(../images/bg-blockquote-3.png) no-repeat 1px 5px;
    padding: 20px 15px 0 40px;
}

.testimonial-3.alt-2 blockquote p {
    margin-bottom: 15px;
    color: #fff;
    font-style: normal;
}
